Header set Access-Control-Allow-Origin "*"
Redirect /.well-known/lnurlp/daniel https://getalby.com/.well-known/lnurlp/thedaniel
Redirect /.well-known/lnurlp/nodestrich https://getalby.com/.well-known/lnurlp/nodestrich
<If "%{REQUEST_URI} =~ m#^/.well-known/lnurlp/#">
Header always set Access-Control-Allow-Origin "*"
</If>
